* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

.wrapper {
  display: flex;
  flex-wrap: wrap;
  margin-left: 40px;
  margin-right: 40px;
  justify-content: center;
  
}

.cards {
  display: flex;
  flex-direction: column;
  width: 310px;
  height: 300px;
  cursor: pointer;
  border-radius: 10px;
  margin: 20px;
  gap: 8px;
  transition: transform 0.3s ease, box-shadow 0.3s ease;
}

.cards:hover {
  transform: scale(1.05);
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
}

.cardgap {
  margin: 8px;
}

.name {
  font-family: Okra, Helvetica, sans-serif;
  word-spacing: 4px;
  font-weight: bolder;
  color: rgb(54, 51, 51);
}

.rating {
  color: white;
  font-weight: bolder;
  font-size: 13px;
}

.fa-star {
  color: white;
  font-size: 8px;
  padding: 2px;
}

.backrating {
  background-color: green;
  padding: 3px;
  border-radius: 4px;
}

.dis {
  display: flex;
  justify-content: space-between;
}

img {
  width: 310px;
  height: 180px;
  border-radius: 10px;
}

.cuisine {
  display: flex;
  justify-content:space-between;
  color: rgb(199, 30, 30);
  margin-top: 3px;
  margin-bottom: 5px;
  gap:2px;
}
.cuisine button{
  border:1px solid red;
  padding-left:18px;
  padding-right:18px;
  border:none;
  color:white;
  background-color:black;
  border-radius:3px;
  padding-top:4px;
  padding-bottom:4px;
}
.cuisine button:hover{
  background-color:rgb(27,166,114);
}

.filterdata {
  display: flex;
  justify-content: center;
}

.btn {
  color: rgb(156, 156, 156);
  font-weight: 300;
  background-color: white;
  border: 1px solid rgb(207, 207, 207);
  margin: 10px;
  box-shadow: rgba(54, 54, 54, 0.06) 0px 1px 2px;
}

.btn:hover {
  background-color: rgb(245, 245, 245);
}

.navbar {
  display: flex;
  background-color: rgb(66, 65, 65);
  color: white;
  padding: 25px 40px;
  margin-bottom: 50px;
}

.navbar div:hover {
  color: rgb(191, 41, 56);
  cursor: pointer;
  font-weight: bolder;
}

.pancon {
  display: flex;
}

.pancon b {
  color: rgb(191, 41, 56);
  font-size: 30px;
}

/* Search */
.search {
  position: relative;
  width: 250px;
}

.search input {
  padding: 10px 40px 10px 10px; /* Adjusted padding for right side */
  border: none;
  border-radius: 4px;
  outline: none;
  width: 100%;
  color: gray;
}

.search i {
  position: absolute;
  right: 10px; /* Position it on the right side */
  top: 50%;
  transform: translateY(-50%);
  color: gray;
  cursor: pointer; /* Makes the icon clickable */
}

/* Wishlist */
.fa-heart {
  font-size: 20px;
}

/* Profile */
.fa-user {
  color: white;
  padding: 5px;
  font-size: 17px;
}

.fa-user:hover {
  color: rgb(191, 41, 56);
}

.sinbtn {
  font-size: 17px;
  background-color: rgb(66, 65, 65);
  color: white;
  border: none;
  padding: 5px;
}

.sinbtn:hover {
  color: rgb(191, 41, 56);
  font-weight: bold;
}

.banner {
  width: 100%;
  height: 210px;
  background-color: #15253F;
  display: flex;
  justify-content: center;
  align-items: center;
  overflow: hidden;
}

.banner h3 {
  color: rgb(230, 224, 224);
  font-size: 2rem;
  text-shadow: 2px 2px 4px rgba(0, 0, 0, 0.7);
  font-weight: 300;
}

.spinner-border {
  color: rgb(192, 190, 190);
  font-size: 1rem;
  text-shadow: 2px 2px 4px rgba(0, 0, 0, 0.7);
  margin-top: 100px;
}

.shimmer-container img {
  width: 100%;
  height: 500px;
  margin-left: 100px;
  margin-right: 100px;
}

/* .add{
  color:red;
  padding:10px;
}

.add button{
  border:1px solid red;
  padding-left:10px;
  padding-right:10px;


} */